<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="custom_event">
        <observer name="inchoo_sample08" instance="Inchoo\Sample08\Observer\CustomEventObserver"/>
    </event>
    <event name="custom_event_object">
        <observer name="inchoo_sample08" instance="Inchoo\Sample08\Observer\CustomEventObjectObserver"/>
    </event>
    <event name="sales_quote_add_item">
        <observer name="inchoo_sample08" instance="Inchoo\Sample08\Observer\AddToCartObserver"/>
    </event>
    <event name="customer_login">
        <observer name="inchoo_sample08" instance="Inchoo\Sample08\Observer\CustomerLoginObserver"/>
    </event>
    <event name="catalog_product_load_after">
        <observer name="inchoo_sample08" instance="Inchoo\Sample08\Observer\CatalogProductLoadAfterObserver"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="adminnotification" disabled="true" />
    </event>
</config>
